
//desktop
@mixin desktop{
    @media (max-width: $breakpoint_xxl) {
        @content;
    }
}

//Landscape tablets and medium desktops
@mixin laptop{
    @media (max-width: $breakpoint_xl) {
        @content;
    }
}

//Portrait tablets and small desktops
@mixin tablets{
    @media (max-width: $breakpoint_l) {
        @content;
    }
}

// Portrait phones and smaller
@mixin phones{
    @media (max-width: $breakpoint_m) {
        @content;
    }
}

/*

$breakpoint_xxl:1200px;
@include desktop{
}

$breakpoint_xl:992px;
@include laptop{
}

$breakpoint_l:768px;
@include tablets{
}

$breakpoint_m:480px;
@include phones{
}

*/