.hamburger{
    display: none;
    padding: 3px;
    .line{
        display: block;
        height: 3px;
        width:30px;
        background-color: #E3B748;
        margin: 7px auto;
    }
}

@media (max-width:768px){
    .hamburger{
        display: block;
        margin-right: 5px;
    }
    .hamburger .line{
        transition: 0.5s all;
    }
    .hamburger.active .line:nth-child(2){
        transition: 0.5s all;
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        transition: 0.5s all;
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
        transition: 0.5s all;
        transform: translateY(-11px) rotate(-45deg);
    }
    .header__nav-list{
        transition: left 0.7s;
        position: fixed;
        left: -100%;
        top: 120px;
        gap: 14px;
        flex-direction: column;
        width: 100%;
        background-color: #E3B748;
        padding-top: 20px;
        padding-bottom: 20px;
        &.active{
            color: black;
            transition: left 0.7s;
            z-index: 10;
            left: 0%;
            :hover{
                color: white;
            }
        }
    }
    .header__button{
        border: none;
        transition: all 0.7s;
        position: fixed;
        left: -100%;
        top: 400px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #E3B748; 
        &.active{
            color: black;
            z-index: 10;
            left: 0%;
        }
    }
    
    .header__nav-item{
        padding: 10px;
        margin: 5px 0;
    }

}